.all {
   text-align: center;
}

.score {
   display: flex;
   font-size: 24px;
   justify-content: center;
   padding: 10px;
}

.button {
      button {
         padding: 5px 10px;
         background-color: #65ad5f;
         font-size: 20px;
         color: #FFF;
}
}